<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome To Pokedex!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="newFormContainer">
        <form method="POST" action="/pokemon/{{id}}">
            <input type="hidden" name="_method" value="PUT">
            <h1>What information do you want to edit?</h1>
            <div>
                <label class="formLabel">Name</label>
                <input class="formInput" type="text" name="name" value={{name}}>
            </div>
            <div>
                <label class="formLabel">Image</label>
                <input class="formInput" type="text" name="img" value={{img}}>
            </div>
            <div>
                <label class="formLabel">Height</label>
                <input class="formInput" type="text" name="height" value={{height}}>
            </div>
            <div>
                <label class="formLabel">Weight</label>
                <input class="formInput" type="text" name="weight" value={{weight}}>
            </div>
            <div>
                <input class="submitButton" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>