
EDIT POKEMON
<form method="POST" action="/{{pokemon.id}}?_method=PUT">
  <div class="">
    ID: <input type="text" name="id" value="{{pokemon.id}}">
  </div>
  <div class="">
    NUM: <input type="text" name="num" value="{{pokemon.num}}">
  </div>
  <div class="">
    NAME: <input type="text" name="name" value="{{pokemon.name}}">
  </div>
  <div class="">
    IMAGE: <input type="text" name="img" value="{{pokemon.img}}">
  </div>
  <div class="">
    HEIGHT: <input type="text" name="height" value="{{pokemon.height}}">
  </div>
  <div class="">
    CANDY: <input type="text" name="candy" value="{{pokemon.candy}}">
  </div>
  <div class="">
    CANDY COUNT: <input type="text" name="candy_count" value="{{pokemon.candy_count}}">
  </div>
  <div class="">
    EGG: <input type="text" name="egg" value="{{pokemon.egg}}">
  </div>
  <div class="">
    AVG SPAWNS: <input type="text" name="avg_spawns" value="{{pokemon.avg_spawns}}">
  </div>
  <div class="">
    SPAWN TIME: <input type="text" name="spawn_time" value="{{pokemon.spawn_time}}">
  </div>
  <input type="submit" value="SUBMIT">
</form>
<div class="container">
