
<h1>{{ message }}</h1>
<ul>
  {{ weight }}
</ul>
<form method="GET" action="/">
  <button type="submit" name="sortby" value="name">Sort By Name</button>
  <button type="submit" name="sortby" value="id">Sort By ID</button>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Picture</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Candy</th>
    <th>Candy Count</th>
    <th>Egg</th>
    <th>Avg Spawns</th>
    <th>Spawn Time</th>

  </tr>
  {{#each pokedex}}
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td><img src="{{this.img}}"></td>
    <td>{{this.height}}</td>
    <td>{{this.weight}}</td>
    <td>{{this.candy}}</td>
    <td>{{this.candy_count}}</td>
    <td>{{this.egg}}</td>
    <td>{{this.avg_spawns}}</td>
    <td>{{this.spawn_time}}</td>
  </tr>
  {{/each}}
</table>
