<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <h1>Hello, Welcome to Pokedex!</h1>
  
  <form method="POST" action="/new">
  id: <br>
  <input type="text" name="id">
  <br>
  num: <br>
  <input type="text" name="num">
  <br>
  name: <br>
  <input type="text" name="name">
  <br>
  img: <br>
  <input type="text" name="img">
  <br>
  height: <br>
  <input type="text" name="height">
  <br>
  weight: <br>
  <input type="text" name="weight">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

  <ul class="pokemon-list">
    <li class="pokemon-attribute">
      id: {{pokemon.id}}
    </li>
    <li class="pokemon-attribute">
      num: {{pokemon.num}}
    </li>
    <li class="pokemon-attribute">
      name: {{pokemon.name}}
    </li>
    <li class="pokemon-attribute">
      img: {{pokemon.img}}
    </li>
    <li class="pokemon-attribute">
      height: {{pokemon.height}}
    </li>
    <li class="pokemon-attribute">
      weight: {{pokemon.weight}}
    </li>
    <li class="pokemon-attribute">
      candy: {{pokemon.candy}}
    </li>
    <li class="pokemon-attribute">
      candy_count: {{pokemon.candy_count}}
    </li>
    <li class="pokemon-attribute">
      egg: {{pokemon.egg}}
    </li>
    <li class="pokemon-attribute">
      avg_spawns: {{pokemon.avg_spawns}}
    </li>
    <li class="pokemon-attribute">
      spawn_time: {{pokemon.spawn_time}}
    </li>
  </ul>
</body>
</html>
