<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form action="/" method="get">
    <button type="submit" name="sortby" value="name">Sort by name</button>
  </form>
  <ul class="pokemon-list">
    {{#each pokemon}}
    <img src="{{this.img}}" alt="">
    <li class="pokemon-attribute">
      id: {{this.id}}
    </li>
    <li class="pokemon-attribute">
      num: {{this.num}}
    </li>
    <li class="pokemon-attribute">
      name: {{this.name}}
    </li>
    {{!-- <li class="pokemon-attribute">
      img: {{this.img}}
    </li> --}}
    <li class="pokemon-attribute">
      height: {{this.height}}
    </li>
    <li class="pokemon-attribute">
      weight: {{this.weight}}
    </li>
    <li class="pokemon-attribute">
      candy: {{this.candy}}
    </li>
    <li class="pokemon-attribute">
      candy_count: {{this.candy_count}}
    </li>
    <li class="pokemon-attribute">
      egg: {{this.egg}}
    </li>
    <li class="pokemon-attribute">
      avg_spawns: {{this.avg_spawns}}
    </li>
    <li class="pokemon-attribute">
      spawn_time: {{this.spawn_time}}
    </li>
    <br>
    {{/each}}
  </ul>
</body>
</html>
