<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the online Pokedex!</title>
</head>
<body style="background: url('https://wallpapers.walldevil.com/wallpapers/a89/preview/pikachu-pokemon.jpg') no-repeat right bottom fixed; background-size: cover; ">
	<div class ="listPics" style="max-width: 800px; margin:0 auto;">
   <h1>Welcome to the online Pokedex!</h1>
   {{#if notFound}}
   <p>Could not find information about {{request}} pokemons - Is that a new pokemon type? Gotta catch em' all!</p>
   {{else}}

   {{#each listOfPokemons}}
   <div style= "float:left;margin-right: 10px; text-align: center"><a href = "names/{{this.name}}"><img style = "width: 80px; height: 80px;" src="{{this.img}}"><br><h6 style="margin-top: 5px;" >{{this.name}}</h6></a></div>
   {{/each}}
   {{/if}}
 </div>
</body>
</html>
