<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Pokemon</title>
  </head>
  <body>
    <h1>Edit Pokemon</h1></br>

    <form method="POST" action=<%= '/' + id + '/update?_method=PUT' %>>
      <label for="pokemon-name">Pokemon Name</label>
      <input type="text" name="name" value=<%= pokemon.name %>></br>

      <label for="pokemon-image">Pokemon Image</label>
      <input type="file" name="img"></br>

      <label for="pokemon-height">Pokemon Height</label>
      <input type="number" name="height" value=<%= pokemon.height %>></br>

      <label for="pokemon-weight">Pokemon Weight</label>
      <input type="number" name="weight" value=<%= pokemon.weight %>></br>

      <input type="submit" value=<%= 'Update-' + pokemon.name %>>
    </form>
  </body>
</html>
